html, body {
  color: #333;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
  padding: 0px 20px;
}

@media (max-width: 600px) {
  .sm-full-width {
    width: 100%;
    display: block;
  }
}

.width-320 {
  width: 320px;
}

.border {
  border: 1px solid #333;
}

.border-white {
  border-color: #ffffff;
}

.border-gray {
  border-color: #ccc;
}

.text-input {
  border: 2px solid #aaa;
  border-radius: 2px;
}

.button {
  border: 2px solid;
  padding: 10px;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  text-decoration: none;
}

.button-white {
  border-color: #fefefe;
  color: #fefefe;
}

.button-white:hover {
  background-color: white;
  color: #79BD8F;
}

.button-red {
  border-color: #FF6138;
  background-color: #FFF;
  color: #FF6138;
}

.button-red:hover {
  border-color: #FF6138;
  background-color: #FF6138;
  color: #FFF;
}

.button-green {
  border-color: #79BD8F;
  color: #79BD8F;
}

.link {
  text-decoration: underline;
}

.link:hover {
  color: white;
}

.fs-70 {
  font-size: 70px;
}

@media (min-width: 728px) {
  .ns-fs-180 {
    font-size: 180px;
  }

  .ns-fs-150 {
    font-size: 150px;
  }

  .ns-fs-128 {
    font-size: 100px;
  }
}

.lh1 {
  line-height: 1;
}

.bg {
  height: 100%;
  background: url(bg-web.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #FF6138;
}

.black {
  color: #333;
}

.white  {
  color: #ffffff;
}

.bg-white  {
  background-color: #ffffff;
}

.bg-tan {
  background-color: #FFFFEE;
}

.red {
  color: #FF6138;
}

.bg-red {
  background-color: #FF6138;
}

.green {
  color: #79BD8F;
}

.bg-green {
  background-color: #79BD8F;
}

.dark-gray {
  color: #535353;
}

.bg-dark-gray {
  background-color: #535353;
}

.light-gray {
  color: #cacaca;
}

.bg-light-gray {
  background-color: #cacaca;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.fs1 {
  font-size: 15px;
}

.fs2 {
  font-size: 20px;
}

.fs3 {
  font-size: 25px;
}

.fs4 {
  font-size: 30px;
}

.fs5 {
  font-size: 35px;
}

.fs6 {
  font-size: 40px;
}

@media (min-width: 728px) {
  .ns-fs1 {
    font-size: 20px;
  }

  .ns-fs2 {
    font-size: 25px;
  }

  .ns-fs3 {
    font-size: 30px;
  }

  .ns-fs4 {
    font-size: 35px;
  }

  .ns-fs5 {
    font-size: 40px;
  }

  .ns-fs6 {
    font-size: 45px;
  }
}

.fw1 {
  font-weight: 100;
}

.fw2 {
  font-weight: 200;
}

.fw3 {
  font-weight: 300;
}

.fw4 {
  font-weight: 400;
}

.fw6 {
  font-weight: 600;
}

.fw7 {
  font-weight: 700;
}

.fw8 {
  font-weight: 800;
}

.fw9 {
  font-weight: 900;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.ma0 {
  margin: 0;
}

.ma1 {
  margin: 5px;
}

.ma2 {
  margin: 10px;
}

.ma3 {
  margin: 20px;
}

.ma4 {
  margin: 35px;
}

.ma5 {
  margin: 60px;
}

.ma6 {
  margin: 100px;
}

.mt0 {
  margin-top: 0;
}

.mt1 {
  margin-top: 5px;
}

.mt2 {
  margin-top: 10px;
}

.mt3 {
  margin-top: 20px;
}

.mt4 {
  margin-top: 35px;
}

.mt5 {
  margin-top: 60px;
}

.mt6 {
  margin-top: 100px;
}

.mb0 {
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: 5px;
}

.mb2 {
  margin-bottom: 10px;
}

.mb3 {
  margin-bottom: 20px;
}

.mb4 {
  margin-bottom: 35px;
}

.mb5 {
  margin-bottom: 60px;
}

.mb6 {
  margin-bottom: 100px;
}

.mr0 {
  margin-right: 0;
}

.mr1 {
  margin-right: 5px;
}

.mr2 {
  margin-right: 10px;
}

.mr3 {
  margin-right: 20px;
}

.mr4 {
  margin-right: 35px;
}

.mr5 {
  margin-right: 60px;
}

.mr6 {
  margin-right: 100px;
}

.ml0 {
  margin-left: 0;
}

.ml1 {
  margin-left: 5px;
}

.ml2 {
  margin-left: 10px;
}

.ml3 {
  margin-left: 20px;
}

.ml4 {
  margin-left: 35px;
}

.ml5 {
  margin-left: 60px;
}

.ml6 {
  margin-left: 100px;
}

.mv0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mv1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mv2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mv3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mv4 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.mv5 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mv6 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.mh0 {
  margin-right: 0;
  margin-left: 0;
}

.mh1 {
  margin-left: 5px;
  margin-right: 5px;
}

.mh2 {
  margin-left: 10px;
  margin-right: 10px;
}

.mh3 {
  margin-left: 20px;
  margin-right: 20px;
}

.mh4 {
  margin-left: 35px;
  margin-right: 35px;
}

.mh5 {
  margin-left: 60px;
  margin-right: 60px;
}

.mh6 {
  margin-left: 100px;
  margin-right: 100px;
}

.pa0 {
  padding: 0;
}

.pa1 {
  padding: 5px;
}

.pa2 {
  padding: 10px;
}

.pa3 {
  padding: 20px;
}

.pa4 {
  padding: 35px;
}

.pa5 {
  padding: 60px;
}

.pa6 {
  padding: 100px;
}

.pt0 {
  padding-top: 0;
}

.pt1 {
  padding-top: 5px;
}

.pt2 {
  padding-top: 10px;
}

.pt3 {
  padding-top: 20px;
}

.pt4 {
  padding-top: 35px;
}

.pt5 {
  padding-top: 60px;
}

.pt6 {
  padding-top: 100px;
}

.pb0 {
  padding-bottom: 0;
}

.pb1 {
  padding-bottom: 5px;
}

.pb2 {
  padding-bottom: 10px;
}

.pb3 {
  padding-bottom: 20px;
}

.pb4 {
  padding-bottom: 35px;
}

.pb5 {
  padding-bottom: 60px;
}

.pb6 {
  padding-bottom: 100px;
}

.pr0 {
  padding-right: 0;
}

.pr1 {
  padding-right: 5px;
}

.pr2 {
  padding-right: 10px;
}

.pr3 {
  padding-right: 20px;
}

.pr4 {
  padding-right: 35px;
}

.pr5 {
  padding-right: 60px;
}

.pr6 {
  padding-right: 100px;
}

.pl0 {
  padding-left: 0;
}

.pl1 {
  padding-left: 5px;
}

.pl2 {
  padding-left: 10px;
}

.pl3 {
  padding-left: 20px;
}

.pl4 {
  padding-left: 35px;
}

.pl5 {
  padding-left: 60px;
}

.pl6 {
  padding-left: 100px;
}

.pv0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pv1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pv2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pv3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pv4 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.pv5 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pv6 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.ph0 {
  padding-right: 0;
  padding-left: 0;
}

.ph1 {
  padding-left: 5px;
  padding-right: 5px;
}

.ph2 {
  padding-left: 10px;
  padding-right: 10px;
}

.ph3 {
  padding-left: 20px;
  padding-right: 20px;
}

.ph4 {
  padding-left: 35px;
  padding-right: 35px;
}

.ph5 {
  padding-left: 60px;
  padding-right: 60px;
}

.ph6 {
  padding-left: 100px;
  padding-right: 100px;
}


